fastapi>=0.110.0
uvicorn>=0.29.0
python-multipart>=0.0.9
pydantic>=2.6.4
email-validator>=2.2.0
pyjwt[crypto]>=2.10.1
bcrypt>=4.2.0
python-dotenv>=1.0.1
cryptography>=42.0.8
reportlab>=4.1.0
requests>=2.31.0
google-auth>=2.29.0
firebase-admin>=6.5.0
google-cloud-storage>=2.14.0
razorpay>=1.4.1
